/*
* see http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/ 
usage: <a href="#" title="This is some information for our tooltip." class="tooltip"><span title="More">CSS3 Tooltip</span></a>

alternative http://www.menucool.com/tooltip/css-tooltip
*/
/*
.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
*/

/*
alternative http://www.menucool.com/tooltip/css-tooltip
renamed tooltip to toolTip

<!--First tooltip-->
<a href="#" class="toolTip">
    Tooltip
    <span>
        <img class="callout" src="cssttp/callout_black.gif" />
        <strong>Most Light-weight Tooltip</strong><br />
        This is the easy-to-use Tooltip driven purely by CSS.
    </span>
</a>

<!--Second tooltip-->
<a href="#" class="toolTip">
    <img src="/tooltip/css-tooltip-image.gif" />
    <span>
        <img class="callout" src="cssttp/callout_black.gif" />
        <img src="/tooltip/src/tooltips-cd2.jpg" style="float:right;" />
        <strong>CSS only Tooltip</strong><br />
        Pure CSS popup tooltips with clean semantic XHTML.
    </span>
</a>


*/
div.toolTip {outline:none; }
div.toolTip strong {line-height:30px;}
div.toolTip:hover {text-decoration:none;} 
div.toolTip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:60px; margin-left:-160px;
    width:300px; line-height:16px;
}
div.toolTip:hover span{
    display:inline; position:absolute; 
    border:2px solid #FFF;  color:#EEE;
    background:#333 url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
}
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
    
/*CSS3 extras*/
div.toolTip span
{
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #666;
    /*opacity: 0.8;*/
}